# save this template as /etc/nginx/templates/*.template and
# envsubst will substitute ${SOMETHING} from environment at nginx startup

# Hostnames inside upstream blocks are resolved at config-load time using the
# system resolver, which does read /etc/hosts.
upstream simdb_backend {
    server ${API_HOST}:${API_PORT};
}

server {
    listen 80;
    # listen [::]:80;
    server_name _;
    root /usr/share/nginx/html;
    absolute_redirect off;

    # dashboard app expects request url path to start with /dashboard/
    location = /            { return 302 /dashboard/; }
    location = /dashboard   { return 302 /dashboard/; }
    location /dashboard/ {
        try_files $uri $uri/ /dashboard/index.html;
    }

    # proxy to simdb backend
    # detect accepted prefix: (?:scenarios/api|scenarios|api|swaggerui)
    location ~ "^/(?:scenarios/api|scenarios|api|swaggerui).*$" {

        # strip prefixes except swaggerui
        rewrite ^/(?:scenarios/api|scenarios|api)?/?(.*) /$1 break;

        # typical proxy params
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_pass http://simdb_backend;
    }

    # dashboard is a simdb client;
    # runtime-config.js defines the simdb remote url to use.
    location = /dashboard/runtime-config.js {
        default_type application/javascript;
        add_header Cache-Control "no-cache, no-store, must-revalidate";
        try_files /runtime-config-template.js =404;
        sub_filter_once off;
        sub_filter_types application/javascript;
        # Optional tokens to replace in template:
        sub_filter 'SCHEME' '$scheme';
        sub_filter 'SIMDB_SERVER_URL' '${SIMDB_SERVER_URL}';
        sub_filter 'DASHBOARD_PORT' '${DASHBOARD_PORT}';
        sub_filter 'API_HOST' '${API_HOST}';
        sub_filter 'API_PORT' '${API_PORT}';
    }
}
