# proxy to simdb backend
# detect accepted prefix: (?:scenarios/api|scenarios|api|swaggerui)
location ~ "^/(?:scenarios/api|scenarios|api|swaggerui).*$" {

    # strip prefixes except swaggerui
    rewrite ^/(?:scenarios/api|scenarios|api)?/?(.*) /$1 break;

    # typical proxy params
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    # inform simdb backend to add this prefix in their responses
    proxy_set_header X-Forwarded-Prefix /scenarios/api;

    proxy_pass http://simdb_backend;
}
